/**
 * **********
 * Typography
 * **********
 */

*{
  -webkit-font-smoothing: antialiased!important;
}

/**
 * *********
 * Structure
 * *********
 */
body.no-scroll{
  overflow: hidden;
}
body, html{
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
body{
  width: 100%;
  font-size: 100%;
  line-height: 120%;
}
